
@import url(node_modules/normalize.css/normalize.css);
@import url(node_modules/font-awesome/css/font-awesome.css);
@import url(node_modules/react-bootstrap-table/dist/react-bootstrap-table.min.css);
@import url(node_modules/react-select/dist/react-select.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css);

footer {
  border-top: 1px solid gray;
  margin-top: 3em;
  padding: 1em;
}
