sudo: false
language: node_js
services:
  - mongodb
cache:
  directories:
    - ~/.yarn-cache
notifications:
  email: false
node_js:
  - '6'
before_install:
  - npm i -g yarn codecov
before_script:
  - npm prune
install:
  - yarn
script:
  - npm run test-lint
  - npm run cover
  - codecov
  - npm run build
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
